body{
  font-family: "Helvetica Neue";
	padding-top: 40px;
}

#library, #playlist{
  float: left;
	background-color: #ecebe8;
	position:relative;
	z-index: 0;
  padding-top: 50px;
}

.sp-player{
  margin-bottom:60px;
  text-align: center;
	width: 150px;
	height: 150px;
}

a.sp-image{
-webkit-border-radius: 3px;
}

.albumName{
  font-weight: bold;
  font-size: 12px;
  display: block;
  margin-top: 10px;
}

.albumName:hover{ 
  text-decoration: none; 
}

.artistName{
  display:block;
  font-size: 12px;
  color: #666;
}

/*Popover*/
.popover{
width: 100px;
top: -30px;
left: -15px;
}

/*Toolbar*/
#toolbar{
position:fixed;
width:100%;
padding: 20px 0;
background: rgba(255,255,255,0.97);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
top:0;
/*opacity:0;*/
-webkit-transition: opacity 0.2s linear;
}

h1{
margin:0;
padding:0;
margin-left: 30px;
font-size:24px;
font-weight:200;
color:#4c4c4c;
}

#switch{
position:absolute;
right:33px;
top:20px;
color: rgba(0,0,0,0.3);
font-size: 16px;
font-weight:200;
}