body{
  font-family: "Helvetica Neue";
	padding-top: 30px;
	float: left;
	/*background: rgb(51, 51, 51);*/
}

#library{
  float: left;
	position:relative;
	z-index: 0;
}

.sp-player{
  width: 180px;
  height: 180px;
  margin-bottom:60px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.7);
  position: relative;
}

/*.albumName,
.artistName{
  text-shadow: 0 1px 0 rgba(0,0,0,.9);
}*/

.albumName{
  font-weight: bold;
  display: block;
  margin-top: 8px;
  color: rgba(0,0,0,.8);
  width: 180px;
  height: 18px;
  overflow: hidden;
  font-size: 13px;
  margin-left: 3px;
}

.albumName:hover{ 
  text-decoration: none; 
}

.artistName{
  display:block;
  color: rgba(0,0,0,.7);
  font-size: 12px;
  margin-left: 3px;
}